<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>角色管理-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/weadmin.css}"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">标签管理</a>
        <a>
          <cite>女生个人标签管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="weadmin-body">
    <div class="layui-row">
        <!--<form class="layui-form layui-col-md12 we-search">-->
            <!--<div class="layui-inline">-->
                <!--<input class="layui-input" placeholder="开始日" name="start" id="start">-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<input class="layui-input" placeholder="截止日" name="end" id="end">-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
            <!--</div>-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>-->
        <!--</form>-->
    </div>
    <div class="weadmin-block">
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" th:onclick="WeAdminShow('编辑','/mini-love-admin/admin/tag/sendEditCategory?id='+[[${collect.id}]])"><i class="layui-icon"></i>添加</button>
        <span class="fr" style="line-height:40px">共有数据：<span th:text="${tags.total}"></span> 条</span>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <!--<th>-->
                <!--<div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>-->
            <!--</th>-->
            <th>id</th>
            <th>标签名</th>
            <th>标签类型</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </thead>
        <tbody>
        <tr  th:each="collect,iterStat : ${tags.list}">
            <!--<td>-->
                <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>-->
            <!--</td>-->
            <th scope="row" th:text="${collect.id}">1</th>
            <td th:text="${collect.tagName}">Mark</td>
            <td th:if="${collect.tagClassify} eq 0 " >外在</td>
            <td th:if="${collect.tagClassify} eq 1 " >内在</td>
            <td th:if="${collect.tagClassify} eq 2 " >兴趣</td>
            <td th:if="${collect.tagClassify} eq 3 " >其他</td>
            <td th:text="${#dates.format(collect.createTime, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(collect.modifyTime, 'yyyy-MM-dd')}"></td>
            <td class="td-manage">
                <!--<a onclick="member_stop(this,'10001')" href="javascript:;" title="启用">-->
                    <!--<i class="layui-icon">&#xe601;</i>-->
                <!--</a>-->
                <a title="编辑" onclick="WeAdminShow('编辑','./role-add.html')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" th:onclick="member_del(this,[[${collect.id}]])" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr></tbody>
    </table>
    <div class="page">
        <div>
            <a class="prev" th:href="@{'/admin/tag/getTagsByType?pageNo='+${tags.prePage}+'&pageSize=10&type=3'}">&lt;&lt;</a>
            <a class="num" th:href="@{'/admin/tag/getTagsByType?pageNo=1&pageSize=10&type=3'}">1</a>
            <span class="current"><span th:text="${tags.prePage+1}"></span></span>
            <a class="num" th:href="@{'/admin/tag/getTagsByType?pageNo='+${tags.pages}+'&pageSize=10&type=3'}" th:text="${tags.pages}" ></a>
            <a class="next" th:href="@{'/admin/tag/getTagsByType?pageNo='+${tags.nextPage}+'&pageSize=10&type=3'}">&gt;&gt;</a>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" th:src="@{/layui/layui.js}" ></script>
<script type="text/javascript" charset="utf-8" th:src="@{/js/eleDel.js}"></script>
</body>

</html>