<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>管理员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/weadmin.css}"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a>
          <cite>用户匹配动态统计</cite></a>
      </span>
    <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="weadmin-body">
    <!--<div class="layui-row">-->
    <!--<form class="layui-form layui-col-md12 we-search">-->
    <!--<div class="layui-inline">-->
    <!--<input class="layui-input" placeholder="开始日" name="start" id="start">-->
    <!--</div>-->
    <!--<div class="layui-inline">-->
    <!--<input class="layui-input" placeholder="截止日" name="end" id="end">-->
    <!--</div>-->
    <!--<div class="layui-inline">-->
    <!--<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
    <!--</div>-->
    <!--<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>-->
    <!--</form>-->
    <!--</div>-->
    <div class="weadmin-block">

        <span class="fr" style="line-height:40px">共有数据：<span th:text="${total}"></span> 条</span>
    </div>
    <table class="layui-table">
        <thead>
        <tr>

            <th>Id</th>
            <th>openId</th>
            <th>微信名</th>
            <th>发送动态数</th>
            <th>总匹配人数</th>
            <th>成功匹配数</th>
            <th>匹配率</th>
        </thead>
        <tbody>
        <tr>

        <tr  th:each="collect,iterStat : ${matchList}">
            <th scope="row" th:text="${iterStat.count}+${currentPage}*20-20">1</th>
            <td th:text="${collect.openId}">Mark</td>
            <td th:text="${collect.nickName}">Mark</td>
            <td th:text="${collect.dynamicCount}">Mark</td>
            <td th:text="${collect.matchResultDto.totalNumber}">@mdo</td>
            <td th:text="${collect.matchResultDto.matchNumber}">@mdo</td>
            <td th:text="${collect.matchRatio}">index</td>
        </tr>
        <!--<td>1</td>-->
        <!--<td>admin</td>-->
        <!--<td>18925139194</td>-->
        <!--<td>113664000@qq.com</td>-->
        <!--<td>超级管理员</td>-->
        <!--<td>2017-01-01 11:11:42</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td class="td-status">-->
        <!--<span class="layui-btn layui-btn-normal layui-btn-xs">已启用</span></td>-->
        <!--<td class="td-manage">-->
        <!--<a onclick="member_stop(this,'10001')" href="javascript:;" title="启用">-->
        <!--<i class="layui-icon">&#xe601;</i>-->
        <!--</a>-->
        <!--<a title="编辑" onclick="WeAdminShow('编辑','./edit.html')" href="javascript:;">-->
        <!--<i class="layui-icon">&#xe642;</i>-->
        <!--</a>-->
        <!--<a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">-->
        <!--<i class="layui-icon">&#xe640;</i>-->
        <!--</a>-->
        <!--</td>-->

        </tbody>
    </table>
    <div class="page">
        <div>
            <a class="prev" th:href="@{'/admin/user/getUserMatchInfo?pageIndex='+${prePage}+'&pageSize=20'}">&lt;&lt;</a>
            <a class="num" th:href="@{'/admin/user/getUserMatchInfo?pageIndex=1&pageSize=20'}">1</a>
            <span class="current"><span th:text="${currentPage}"></span></span>
            <a class="num" th:href="@{'/admin/user/getUserMatchInfo?pageIndex='+${pages}+'&pageSize=20'}" th:text="${pages}" ></a>
            <a class="next" th:href="@{'/admin/user/getUserMatchInfo?pageIndex='+${nextPage}+'&pageSize=20'}">&gt;&gt;</a>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" th:src="@{/static/layui/layui.js}" ></script>
<script type="text/javascript" charset="utf-8" th:src="@{/static/js/eleDel.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/static/js/admin.js}"></script>
</body>

</html>